
body {
    width: 100%;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

.bodyOfTheApp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.255);
}


